<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mail template</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <div class="card-container">
        <div class="contents">
          <img src="/public/images/logo.png" alt="logo" />
        <h1>이메일 주소 인증</h1>
        <div class="comment">
          <span class="user-email">s2019w16</span> 님, 회원가입의 마지막 단계입니다.<br />아래의
          버튼을 클릭하여 이메일 인증을 완료해주세요. 감사합니다.
        </div>
        <a href="https://duzzle.emirim.hs.kr" class="button-certification">인증하기</a>
        <span class="team">DUZZLE 팀 드림</span>
        <a href="https://duzzle.emirim.hs.kr" class="duzzle-link">https://duzzle.emirim.hs.kr</span>
        </div>
      </div>
    </div>
  </body>
</html>
